$login-color: rgb(7, 87, 255);

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 25%);
}

$content-width: 400px;
$content-height: 500px;

.modal-content {
    display: fixed;
    background-color: #fff;
    border-radius: 25px;
    margin: calc(50vh - #{$content-height / 2}) auto;
    left: 0;
    right: 0;
    width: $content-width;
    height: $content-height;
}

.header {
    overflow: hidden;
    padding: 1rem;

    img {
        float: right;
    }
}

form {
    padding-left: 3rem;
    padding-right: 1rem;
    text-align: left;
    font-weight: bold;

    p {
        margin: 1rem 0 0.1rem 0;
    }

    input {
        background-color: #fcfcfc;
        border: 1px solid #bbb;
    }

    input:not([name="remember"]) {
        display: block;
        line-height: 28px;
        width: 90%;

    }

    a {
        float: right;
        margin-right: 2rem;
        font-weight: normal;
        color: $login-color;
    }

    .remember-me {
        display: flex;
        margin-top: 2rem;
        align-items: center;
        input {
            margin: 0;
            width: 1.2rem;
            height: 1.2rem;
        }

        label {
            margin-left: .75rem;
        }
    }

    .submit-options {
        display: flex;
        align-items: center;
        p {
            margin: 0;
            font-weight: normal;
            clear: both;


            a {
                margin-left: 0.25rem;
            }
        }
        p.login {
            margin: 1rem 1rem 1rem 0;
            padding: 0.75rem 1.75rem;
            background-color: $login-color;
            border-radius: 5px;
            color: white;
            &:hover {
                cursor: pointer;
                background-color: darken($login-color, 10%)
            }
        }
    }
}