@use '../../styles/styles' as *;
@import "../../_Mixins.scss";

.dropdown-wrapper {
    @include no-select;
    width: 12rem;
    border-radius: 8px;
    cursor: pointer;
    background-color: $neutral-color;
    height: 1.75rem;
    padding: .25rem 0;

    ul.dropdown {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        z-index: 2;

        li.selected {
            padding: 0 10px;
            white-space: nowrap;
            img.icon {
                float: right;
                &:hover {
                    color: $primary-color;
                }
            }
        }

        div.options {
            box-shadow: 0 14px 30px #E1E1E1;
            border-radius: 8px;
            margin-top: 1.5rem;
            background-color: $neutral-color;
            position: absolute;

            li {
                padding: 0.5rem 0;
                display: flex;
                align-items: center;
                justify-content: center;
                
                &:hover {
                    background-color: darken($neutral-color, 10%);
                    color: $primary-color;
                }

                &:first-child {
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                }

                &:last-child {
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                }
            }
        }
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.animate-open {
    animation: fadeIn .15s;
}
