@use '../../styles/styles' as *;
@import '../../Mixins';

$content-width: 32rem;
$content-height: 16rem;

div.wrapper {
    justify-self: space-between;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;

    span.spacing {
        margin: 0;
        margin-bottom: 0.25rem;
        height: 1rem;
    }

    div.advanced-filters-btn {
        background-color: $neutral-color;
        height: 1.75rem;
        border-radius: 8px;
        padding: .25rem;
        width: 1.75rem;
        &:hover {
            background-color: darken($neutral-color, 10%);
        }
    }

    div.modal {
        display: grid;
        box-shadow: 0 14px 30px $shadow-color;
        position: absolute;
        z-index: 2;
        margin: 0;
        background-color: $neutral-color;
        border-radius: 8px;
        width: $content-width;
        height: $content-height;
        top: 4.5rem;
        right: 0;
    }
}

