$slider-color: rgb(7, 87, 255);

.slider {
    position: relative;
    height: 0.5rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    background-color: lighten($slider-color, 20%);

    .range {
        position: absolute;
        z-index: 2;
        left: 25%;
        right: 25%;
        top: 0;
        bottom: 0;
        border-radius: 8px;
        background-color: $slider-color;
    }

    .thumb {
        position: absolute;
        z-index: 3;
        width: 1.5rem;
        height: 1.5rem;
        background-color: $slider-color;
        border-radius: 50%;
        opacity: 0.3;

        &.left {
            left: 25%;
            transform: translate(-0.5rem, -0.5rem)
        }

        &.right {
            right: 25%;
            transform: translate(0.5rem, -0.5rem)
        }
    }
}

input[type='range'] {
    position: absolute;
    -webkit-appearance: none;
    pointer-events: none;
    z-index: 4;
    height: 0.5rem;
    width: 100%;
    left: 0;
    opacity: 0;
    right: 0;

    &::-webkit-slider-thumb {
        pointer-events: all;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 0;
        border: 0 none;
        -webkit-appearance: none;
        background-color: red;
        z-index: 10;
    }

    &::-moz-range-thumb {
        pointer-events: all;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 0;
        border: 0 none;
        -moz-appearance: none;
        background-color: red;
        z-index: 10;
    }
}